<script setup>
import {onMounted} from "vue";
// 给html标签上class
document.querySelector('html').className = 'newYear'

const emits = defineEmits(['adTitle'])
onMounted(() => {
  emits('adTitle', `
<!--暂时会写在这里，虽不是长久之际，以后会考虑关于拓展的问题-->
  <div class="customerColor">
    新年新气象，今年到您家
    <a href="https://baidu.com" target="_blank">充值就现在！</a>
  </div>

  `)
})

const checkLegal = () => {
//   1. 是否超过当前活动时间
//   2. 是否已经下架
  const activeTime = '';
  // const isLegal = true
  return 123;
}

defineExpose({
  checkLegal
})

</script>

<template>
  <div>
    已进入新年活动
  </div>

</template>

<style lang="scss">
.newYear{
  .displayBox {
    .submit {
      background-color: #ff3b3b;
      color: white;
    }

  }
}
</style>